{% if star is defined %}
    <form
    enctype="multipart/form-data"
    action="/stars/{{ star.id }}"
    method="POST">
        <input type="hidden" name="id" value="{{ star.id }}" />
{% else %}
    <form enctype="multipart/form-data" action="/stars" method="POST">
{% endif %}

    <div class="control">
        <label>Name:</label>
        <input
            type="text"
            name="starName"
            required
            {% if star is defined %}
                value="{{ star.starName }}"
            {% endif %}
        />
    </div>

    <div class="control">
        <label>Size:</label>
        <input
            type="number"
            name="starSize"
            min="0.01"
            step="0.01"
            required
            {% if star is defined %}
                value="{{ star.starSize }}"
            {% endif %}
        />
    </div>

    <div class="control">
        <label>Description:</label>
        <textarea
            name="starDescription"
            rows="4"
        >{{ star.starDescription }}</textarea>
    </div>

    <div class="control">
        <label>Galaxy:</label>
        <select
            name="GalaxyId"
            id="galaxyId"
            required>
            <option value="" disabled {% if star is not defined %}selected{% endif %}>Select a Parent Galaxy</option>
            {% for galaxy in galaxies %}
                <option
                    {% if star.GalaxyId == galaxy.id %}
                        selected
                    {% endif %}
                    value="{{ galaxy.id }}">
                        {{ galaxy.galaxyName }}
                </option>
            {% endfor %}
        </select>        
    </div>

    <div class="control">
        <label>Image:</label>
        <input type="file" name="image" id="image" accept="image/*" />
    </div>

    <button type="submit">
        {% if star is defined %}
            Update Star
        {% else %}
            Add Star
        {% endif %}
    </button>
    {% if star is defined %}
        <br>
        <a href="/stars">&lt;&lt; Back to all stars</a>
    {% endif %}
</form>
